<section class="hero hero-youdeo is-medium has-top-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-bold is-phat">
        People Sharing Videos
      </h1>
      <div class="is-margin-top-10">
          <div class="subtitle is-5">
            <b>Rejoins Youdeo pour découvrir et partager de bonnes vidéos.</b><br />
            Tu vas enfin passer plus de temps à les regarder qu’à les chercher.
          </div>
      </div>
      <div class="is-margin-top-2">
        <a class="button is-primary is-rounded is-outlined is-large is-margin-right-1 is-margin-bottom-1" href="">
            Découvrir
        </a>
        <a class="button is-primary is-rounded is-large is-margin-right-1 is-margin-bottom-1" href="">
            Commencer
        </a>
      </div>
    </div>
  </div>
</section>


<section class="toucan-background is-padding-top-5 is-padding-bottom-5">
    <div class="container">
        <div class="is-padding-left-1 is-padding-right-1">
            
            <div class="has-text-centered">
                <img src="<%= asset_path "logos/YOUDEO_LOGOICON_2-3.svg" %>" alt="YOUDEO" width="112" height="28">
                <h2 class="title is-1 is-bold">YOUDEO, KEZAKO ?</h2>
            </div>
            
            <div class="youdeo-container">
                
                <div class="columns has-text-left is-padding-top-3">
                    <div class="column is-7">
                        <h3 class="title is-blue is-phat is-size-1-mobile is-marginless is-bold">PEOPLE</h3>
                        <div class="is-margin-left-2 is-max-width-400">Nous sommes passionnés par les créatrices et créateurs qui font des vidéos chaque jour.</div>
                    </div>
                </div>
                <div class="columns has-text-right is-padding-top-1">
                    <div class="column is-7 is-offset-5">
                        <h3 class="title is-blue is-phat is-size-1-mobile is-marginless is-bold">SHARING</h3>
                        <div class="is-margin-right-2 is-pulled-right is-max-width-400">Nous partageons nos belles découvertes en misant sur la puissance du bouche à oreille.</div>
                    </div>
                </div>
                <div class="columns has-text-left is-padding-top-1">
                    <div class="column is-7">
                        <h3 class="title is-blue is-phat is-size-1-mobile is-marginless is-bold">VIDEOS</h3>
                        <div class="is-margin-left-2 is-max-width-400">Nous faisons émerger des vidéos de qualité grâce aux recommandations de vrais humains.</div>
                    </div>
                </div>
                
            </div>
            
            <div class="has-text-centered is-margin-top-3">
                <a class="button is-primary is-rounded is-large" href="">
                    Commencer
                </a>
            </div>
        </div>
    </div>
</section>


<section class="tuto-background has-top-shadow is-padding-top-5 is-padding-bottom-5">
    <div class="container">
        <div class="is-padding-left-1 is-padding-right-1">
                
            <h2 class="title is-3 is-bold">
                POUR<br />
                <span class="title is-1 is-size-2-mobile">RECOMMANDER<br />UNE VIDÉO</span>
            </h2>
            <div class="is-max-width-400">En partageant la vidéo d’une créatrice ou d’un créateur, tu lui apportes soutien et visibilité.
            </div>
    
            <div class="youdeo-container">
                    
                <div class="columns is-margin-top-3">
                    <div class="column is-3">
                        1. Colle le lien d’une vidéo que tu veux faire découvrir
                    </div>
                    <div class="column is-9">
                        <img src="<%= asset_path "examples/post_example_1.jpg" %>" alt="post example 1">
                    </div>
                </div>
                
                <div class="columns is-margin-top-1">
                    <div class="column is-3">
                        2. Écris un commentaire pour donner envie de regarder la vidéo
        
                    </div>
                    <div class="column is-9">
                        <img src="<%= asset_path "examples/post_example_2.jpg" %>" alt="post example 1">
                    </div>
                </div>
                
            </div>
            
            <div class="has-text-centered is-margin-top-5">
                <a class="button is-primary is-rounded is-large" href="">
                    Commencer
                </a>
            </div>
        </div>
    </div>
</section>

<section class="jungle-background has-top-shadow is-padding-top-5 is-padding-bottom-5">
    <div class="container">
        <div class="is-padding-left-1 is-padding-right-1">
            
            <div class="feed-menu has-text-centered">
                <span class="feed-menu-item has-right-border is-padding-right-1 is-padding-left-1 is-active">
                    SÉLECTION YOUDEO
                </span>
                <span class="feed-menu-item is-padding-left-1 is-padding-right-1 is-active">
                    JUNGLE
                </span>
            </div>
            
            <div class="is-margin-top-5">
                <img class="offsetted-logo" src="<%= asset_path "logos/YOUDEO_LOGOICON_1-2.svg" %>" alt="YOUDEO" width="112">
                <h2 class="title is-1 is-bold">
                    SÉLECTION<br />YOUDEO
                </h2>    
            </div>
            
            <div class="is-max-width-400">
                Dans l’équipe, on adore regarder des vidéos.<br />
                Voici nos préférées parmis celles recommandées sur Youdeo.
            </div>
            
            <div class="feed youdeo-container is-padding-right-1 is-padding-left-1 is-padding-top-1">
                <% for i in 0..1 do %>
                    <%= render partial: "home/post", locals: {is_selection_youdeo: true} %>
                <% end %>
                <% for i in 0..3 do %>
                    <%= render partial: "home/post" %>
                <% end %>
            </div>
        </div>
    </div>
</section>